<div class="container">
  <h2 style="text-align: center;">My blog</h2>
  <hr>

  <ul class="list-group">
    <% @post.each do |p| %>
      <li class="list-group-item">
        <%= p[:title] %>
      </li>
    <% end %>
</div>
