<div class="container">
  <h1 style="text-align: center;">hello word</h1>
  <%= link_to 'students', students_path %>
  <hr>

  <ul class="list-group">
    <% @post.each do |p| %>
      <li class="list-group-item">
        <%= p[:title] %>
      </li>
    <% end %>
</div>
